@tailwind base;
@tailwind components;
@tailwind utilities;

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.form {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.form-Student {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.extra{
  margin-top: 15px;
}

.Card {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.Card-Student{
  width: 70%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}


.form-heading {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.custom-select {
  appearance: none;
}

.form-field {
  position: relative;
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 18px;
  color: rgb(102, 102, 102);
  font-weight: 600;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 8px;
}

.login-input::placeholder {
  size: 16px;
  line-height: 20px;
}

.input-error {
  border: 2px solid rgb(239 68 68);
}

.error-message {
  margin-top: 4px;
  font-size: 12px;
  line-height: 18px;
  color: rgb(239 68 68);
}

.error-icon {
  color: rgb(239 68 68);
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.error-icon-select {
  color: rgb(239 68 68);
  position: absolute;
  right: 8px;
  top: 52%;
  transform: translateY(-50%);
}

.custom-button {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 8px;
  width: 100%;
  padding: 8px 16px;
  transition-property: background-color;
  transition-duration: 300ms;
}

.password-toggle{
  position: absolute;
  right: 8px;
  top: 38px;
}

.custom-button-admin {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 8px;
  width:fit-content;
  padding: 8px 16px;
  margin-top: 4px;
  transition-property: background-color;
  transition-duration: 300ms;
}


.custom-button:hover {
  background-color: rgb(30, 30, 30);
}

.custom-button-admin:hover {
  background-color: rgb(30, 30, 30);
}

.checkbox-input {
  display: none;
}

.checkbox-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: black;
  margin-left: 5px;
  margin-right: 15px;
  font-size: 15px;
}

.checkbox-label-student {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: black;
  margin-right: 15px;
  font-size: 15px;
}

.checkbox-icon {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.form-sub-field-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  
}

.disabled {
  pointer-events: none;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /*   spinner div css */
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /*   background-color : red; */
  border: 10px solid #ccc;
  border-top-color: #000;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.navbar{
  width: 100%;
  height: 80px;
  padding: 10px 100px 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.list{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.list-item{

  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.active{
  text-decoration: underline;
  text-underline-offset: 8px;
}

.desktopNavbar{
  display: block;

}

.mobileNavbar{
  display: none;
}

sign-out{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} 

@media (max-width: 768px) {

  .form{
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }

  .form-Student{
    width: 100%;
    height: fit-content;
    padding: 10px;
  }

  .form-field {
    position: relative;
    margin-bottom: 12px;
  }
  .Card {
    width: 100%;
    height: fit-content;
    padding: 20px;
    border-radius: 15px;
  }

  .Card-Student{
    width: 100%;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
  }


  .form-sub-field {
    display: flex;
    flex-direction: column;
  }

  .form-sub-field-select {
    display: flex;
    flex-direction: column;
  }

  .navbar{
    width: 100%;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }

  .desktopNavbar{
    display: none;
  }

  .mobileNavbar{
    display: block;
  }
  
  .menuOpen{
    display: fixed;
    position: flex;
    flex-direction: column;
    transition-property: all;
    transition-duration: 250ms;
    transform: translateX(0);
    z-index: 500;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    top: 0px;
    right:0px;
    width: 100%;
    height: 100vh;
    background-color: white;

  }

}

